.code-accordion {
  margin-top: 10px;
  button {
    width: 100%;
  }
  .code-panel {
    transition: height 0.4s ease;
    height: 0;
    pre {
      display: none;
    }

    &.open {
      height: 400px;
      width: inherit;
      overflow: scroll;
      pre {
        width: inherit;
        white-space: pre-wrap;
        display: inline-block;
      }
    }
  }
}
